
body{
  background-color: gainsboro;
}


h1{
    text-align: center;
    margin-bottom: 20px;
}

h2{
    margin-top: 40px;
}

h4{
  
  margin-bottom: 20px;

}



.center{
    display: flex;
    background-color: red;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

}


.center > div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  
}

.around{
    display: flex;
    background-color: red;
    justify-content: space-around;
    margin-top: 30px;
}

.around > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
  }


  .between{
    display: flex;
    background-color: red;
    justify-content: space-between;
    margin-top: 30px;
}

.between > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
  }

  .evenly{
    display: flex;
    background-color: red;
    justify-content: space-evenly;
    margin-top: 30px;
}

.evenly > div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  
}

.end{
  display: flex;
  background-color: red;
  justify-content: flex-end;
  margin-top: 30px;
}

.end > div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  
}

.start{
  display: flex;
  background-color: red;
  justify-content: flex-start;
  margin-top: 25px;
}

.start > div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  
}








  




.coluna{
    display: flex;
    background-color: red;
    flex-direction: column;
    height: 240px;
}

.coluna > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
  }

.reversa{
  display: flex;
  background-color: red;
  flex-direction: column-reverse;
  height: 240px;
  margin-bottom: 20px;
}


.reversa > div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  
}


.row{
  display: flex;
  background-color: red;
  flex-direction: row;
  margin-bottom: 20px;
}


.row > div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  
}


























  .linha{
    display: flex;
    background-color: red;
    flex-direction: row;
 
}

.linha > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
  }

.wrap{
    display: flex;
    background-color: red;
    flex-wrap: wrap;
 
}

.wrap > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
  }

  .reversewrap{
    display: flex;
    background-color: red;
    flex-wrap: wrap-reverse;
    

  }

  .reversewrap > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    
  }

  .nowrap{
    display: flex;
    background-color: red;
    flex-wrap: nowrap;
    
  }

  .nowrap > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
  }
    



