.botao {
  background-color: var(--corindisponivel);
  color: var(--text-color);
  justify-content: center;
  border: none;
  height: 70px;
  width: 260px;
  font-size: large;
  border-radius: 15px;
  cursor: pointer;
}

.divBotao {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 100px;
}

.botao:hover {
  background-color: var(--corindisponivel);
}

.preco {
  margin-left: 8px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .divBotao {
    margin-right: 100px;
  }
}
